body {
  background-color: #060e1b;
  font-family: "Nike Combat Stencil", sans-serif;
}
#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}
.bar {
  width: 40px;
  height: 4px;
  background: white;
  display: block;
  margin-top: 4px;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.nav li button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 13px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #baaab8 , 0 0 70px #836b80 , 0 0 80px #c5b9c4 , 0 0 100px #c7d3ee ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  color: white;
  border: none;
  background: black;
  font-family: "Nike Combat Stencil", sans-serif;
  cursor: pointer;
  font-size: 15px;
}
.nav li button:hover {
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #586363 , 0 0 70px #768888 , 0 0 80px #bedada , 0 0 100px #96a6a6 ;
}

.nav li {
  list-style: none;
  padding: 15px 0;
}
.nav {
  padding: 0;
  margin: 0 20px;
  display: none;
  transition: 0.3s ease;
}
.menu-bg,
#menu-bar {
  top: 0;
  left: 0;
  position: absolute;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  border-bottom-right-radius: 30%;
  transition: 0.3s ease;
}
#menu-bar {
  z-index: 2;
}
.change-bg {
  width: 400px;
  height: 600px;
  transform: translate(-60%, -30%);
}
.change .bar {
  background: #a39a98;
}
.change #bar1 {
  width: 30px;
  transform: translateY(5px) rotate(-50deg);
}
.change #bar3 {
  transform: translateY(-10px) rotate(50deg);
  width: 30px;
}
.change #bar2 {
  opacity: 0;
}
.change {
  display: block; 
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  position: absolute;
  top: 30%;
  left: 40%;
  border: none;
  border-radius: 50%;
  z-index: 9;
  animation: fade-in 5s;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

#img-container {
  max-width: 40%;
  height: auto;
  position: fixed;
  top: 10%;
  left: 15%;
  border: none;
  border-radius: 100%;
  padding: 0px;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}


#stars {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.text-content {
    font-size: 16px;
    color: white;
    position: absolute;
    top: 15%;
    left: 60%;
    height: 450px;
    width: 400px;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}




